---
version: '2'
services:
  app:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - ./src:/app
      - gems:/ruby_gems
    depends_on:
      - db
  db:
    image: postgres:9

volumes:
  gems:
